<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/venkatasambaraju/IdeaProjects/TestngPractice2">
        <packages>
            <package name="Packagep"/>
        </packages>
        <classes>
            <class name="Demo.Day1"/>
            <class name="Demo.Day2">
                <methods>
                    <include name="Carloan.*"/>
                </methods>
            </class>
            <class name="Venkata.Day3"/>
        </classes>




    </test>
    <packages>
        <package name="Packagep"/>
    </packages>

</suite>